// -------------------------------
// Import font
// -------------------------------



// -------------------------------
// Variable font
// -------------------------------

$font_format_djr: forma-djr-banner, sans-serif;
$font_ofelia_text: ofelia-text, sans-serif;

$font_weight_text: 400;
$font_weight_title: 600;

$font_size_text: 1.2rem; 
$font_size_title: 3rem;
$font_size_subtitle: 2rem;
$font_size_bigtitle: 4rem;

$line_height: 1.5;
// -------------------------------
// Variable colors
// -------------------------------

$black: #0F0F0E;
$white: #F1F3F7;

$orange: #E16753;
$blue: #2D4450;
$green: #597F79;