*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  font-family: ofelia-text, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: black;
  background-color: #F1F3F7;
  overflow: hidden;
  cursor: none;
}

.bg_noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 30%;
  z-index: -1;
  pointer-events: none;
  background-image: url("../img/noise_giff.gif");
}

.cursor {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
}

.cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: black;
  border-radius: 50%;
}

.header {
  position: fixed;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.header_content-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_figure_logo {
  width: 72px;
  height: 72px;
}
.header_menu_burger {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_menu_burger_name {
  font-family: forma-djr-banner, sans-serif;
  font-weight: 100;
  font-size: 17px;
  margin: 0;
  margin-right: 20px;
  color: black;
}
.header_menu_burger_dot {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: black;
}
.header a {
  text-decoration: none;
}

.home_section {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.home_section .home_section_left {
  width: 100%;
  height: auto;
  transform: translateY(-25px);
}
.home_section .home_section_left h1 {
  font-family: forma-djr-banner, sans-serif;
  font-size: 4rem;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 8px;
}
.home_section .home_section_left p {
  font-family: ofelia-text, sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: 50px;
  letter-spacing: 2px;
}
.home_section .home_section_left button {
  border: 2px solid black;
  font-size: 1.2rem;
  background-color: transparent;
  border-radius: 5px;
  padding: 15px 25px;
  letter-spacing: 2px;
  margin-top: 30px;
  font-weight: 400;
}
.home_section .home_section_rigth {
  width: 100%;
}
.home_section .home_section_rigth .color_bg {
  width: 100%;
  height: 100%;
}
.home_section .home_section_rigth .color_one {
  width: 50rem;
  height: 50rem;
  position: absolute;
  z-index: -2;
  top: calc(40% - 15rem);
  left: calc(70% - 15rem);
  background-image: -webkit-radial-gradient(50% 50%, circle contain, #2D4450, rgba(45, 68, 80, 0) 60%);
  animation: 5s linear infinite colorOne;
}
.home_section .home_section_rigth .color_two {
  width: 50rem;
  height: 50rem;
  position: absolute;
  z-index: -1;
  top: calc(35% - 17rem);
  left: calc(65% - 17rem);
  background-image: -webkit-radial-gradient(50% 50%, circle contain, #E16753, rgba(225, 103, 83, 0) 60%);
  animation: 4s linear infinite colorTwo;
}
.home_section .home_page_bottom {
  position: fixed;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 30px;
}
.home_section .home_page_bottom .container_network {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_section .home_page_bottom .container_network .trait {
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_section .home_page_bottom .container_network .trait span {
  width: 100px;
  height: 1px;
  background-color: black;
  transition: 0.3s;
}
.home_section .home_page_bottom .container_network .trait span.is-open {
  transform: rotate(-90deg);
}
.home_section .home_page_bottom .container_network .trait span::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  display: block;
  background-color: black;
  transition: 0.3s;
}
.home_section .home_page_bottom .container_network .trait span.is-open::after {
  transform: rotate(90deg);
}
.home_section .home_page_bottom .container_network .network {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
  height: 27px;
  position: relative;
}
.home_section .home_page_bottom .container_network .network ul {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  transform: translateX(-400px);
  transition: transform 1s cubic-bezier(0.5, 0.05, 0.1, 0.94);
}
.home_section .home_page_bottom .container_network .network.is-open ul {
  transform: translateX(0);
  transition: transform 0.6s cubic-bezier(0.5, 0.05, 0.1, 0.94);
}
.home_section .home_page_bottom .container_network a {
  margin: 0;
  margin-right: 25px;
  font-family: ofelia-text, sans-serif;
  font-weight: 100;
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
}
.home_section .home_page_bottom .sound {
  width: auto;
  height: auto;
}
.home_section .home_page_scroll {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  z-index: -1;
}
.home_section .home_page_scroll .circle_arrow {
  width: 50px;
  height: 50px;
  border: 1.5px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: bounce;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5px);
  }
}
@keyframes colorOne {
  0% {
    transform: translate(-40px);
  }
  50% {
    transform: rotate(-180deg) translate(-40px) rotate(-180deg) scaleY(1.3);
  }
  to {
    transform: rotate(-360deg) translate(-40px) rotate(-360deg) scale(1);
  }
}
@keyframes colorTwo {
  0% {
    transform: translate(30px);
  }
  33% {
    transform: rotate(180deg) translate(30px) rotate(-180deg) scaleX(1.4);
  }
  to {
    transform: rotate(360deg) translate(30px) rotate(-360deg) scale(1);
  }
}

/*# sourceMappingURL=output.css.map */
